---
import Layout from "./Layout.astro";
import Prose from "./Prose.astro";
const { frontmatter } = Astro.props;
---

<Layout title="Lachlan's Blog">
  <div class="flex justify-center py-10 px-4">
    <Prose>
      <h1>{frontmatter.title}</h1>
      <p>{frontmatter.description}</p>
      <slot />
    </Prose>
  </div>
</Layout>
